:root{
    --colorPrimario: #FFA600; 
    --colorSecundario: white;
    --colorComplementario: #ffb300a2 ;
    --colorLetras: rgb(255, 217, 0);
    --colorSection1: #654321;
    --colorSection2: #3a1f04;
    --colorLetras2: black;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

    /*Body*/

body{
    background: url(img/slider-1.jpg) ;
    font-family: sans-serif;
    line-height: 1.7;
    overflow-x: hidden;

}

    /*Cuerpo de la página*/

.logo{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin: 0;
    gap: 10px;
}

.text-center{
    background: var(--colorPrimario);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    transition: none;
    display: flex ;
    justify-content: space-around;
    align-items: center;
}
.logoimg{
    width: 80px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 35px;

}

nav a{
    text-decoration: none;
    color: var(--colorSecundario);
    font-weight: 600;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
    transition: all 0.3s ease;

}

nav a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--colorLetras);
    transition: width 0.3s ease;

}

nav a:hover::after{
    width: 100%;

}

    /*Carrusel del index*/

.container_incarrusel{
    position: relative;
    max-width: 1000px;

}    

.content_indexcarrusel{
    width: 1000px;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;

}

.img_indexcarrusel{
    display: flex;
    width: 300px;
    aspect-ratio: 16 / 9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5;
    
}

.img_indexcarrusel img{
    width: 600px;
    height: 400px;
    scroll-snap-align: start;
    object-fit: cover;
    

}

.index_carrusel_nav{
    bottom: auto;

}

    /*Sección*/

.seccion{
    height: 80vh; /*ESTo es la altura de la sección*/
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 80px;

}

/*SECCIÓN NOSOTROS*/

.sec-nosotros{
    height: 30vh; 
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 80px;

}

/*SECCIÓN PRODUCTOS*/

.sec-productos{
    height: 40vh; 
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 80px;

}

/*Sección de la parte de productos*/

.sec-product{
    color: var(--colorPrimario);
    font-size: 50px;
    font-family: "Galindo", sans-serif;


}

.seccion::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.content{
    margin-top: 70px;
    
}

.title{
    font-size: 58px;
    line-height: 1.1;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    color: var(--colorPrimario);
    font-family: "Galindo", sans-serif;

}

.texto{
    font-size: 40px;
    margin-bottom: 100px;
    max-width: 700px;
    color: var(--colorSecundario);
    font-family: "Edu VIC WA NT Hand", cursive;

}

    /* Seccion de productos */

.products{
    padding: 120px 0;
    position: relative;


}


.Section-header{
    text-align: center;
    margin: 0 auto 70px;

}

.section-subtitle{
    font-size: 50px;
    color: var(--colorPrimario);
    margin-bottom: 15px;

}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 1fr));
    gap: 10px;

}

.product-card{
    background: var(--colorSection2);
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;

}

.product-card:hover{
    transform: translateY(-15px);
    border: 2px solid var(--colorPrimario);

}

.product-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;

}

.img-product{
    height: 260px;
    overflow: hidden;

}

.img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;

}

.product-card:hover .img-product img{
    transform: scale(1.05);

}

.product-info{
    padding: 25px;
    position: relative;

}

.product-tag{
    position: absolute;
    top:  -20px;
    right: 25px;
    background: var(--colorComplementario);
    color: var(--colorSecundario);
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;

}

.product-title{
    font-size: 24px;
    color: var(--colorSecundario);
    margin-bottom: 10px;

}

.product-desc{
    color: var(--colorSecundario);
    margin-bottom: 20px;
    font-size: 16px;

}

h1, h2, h3, h4{
    font-family: sans-serif, serif;
    font-weight: 700;
    letter-spacing: 0.5px;

}    

    /*Carrusel*/

.carrusel{
    width: 1000px; /*AQUÍ ES LO QUE DA EL PROBLEMA DEL CARRUSEL*/
    overflow: hidden;
    margin: auto;
    border-radius: 10px;

    }

.img-carrusel{
    display: flex;
    width: 300px;
    animation: moverCarrusel 8s infinite;

    }

.img-carrusel img{
    width: 600px;
    height: 400px;

}

    /*Carrusel Movimiento*/

@keyframes   moverCarrusel {
    0% {transform: translateX(0);}
    25% {transform: translateX(0);}

    35% {transform: translateX(-600px);}
    60% {transform: translateX(-600px);}

    70% {transform: translateX(-1200px);}
    90% {transform: translateX(-1200px);}

    100% {transform: translateX(0);}

}  


    /*INformación de nosotros*/

.nosotros{
    color: var(--colorComplementario);
    font-family: "Galindo", sans-serif;
    font-size: 300%;
    position: relative;
    left: auto;
    text-align: center;

}   

.Infor{
    color: var(--colorSecundario);
    font-size: 210%;
    font-family: "Edu VIC WA NT Hand", cursive;
    left: auto;
    text-align: center;

}

/*BOTON FLOTANTE DE WHATSAPP*/

.boton_flotante{
    background-color: var(--colorSection1);
    border: 1px solid var(--colorPrimario);
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;

}

.boton_flotante:hover{
    transform: scale(1.1);
    transition: 0.3s;

}

.boton-whatsapp{
    width: 40px;
    transition: 1s;


}

/*MAPA*/

.map{
    

}


/*PIE DE LA PÁGINA*/

footer{
    background: var(--colorPrimario);
    color: var(--colorSecundario);
    padding: 70px 0 30px;
    position: relative;
    border-top: 4px solid var(--colorSection2);

}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 50px;

}

/*H3 que ya no es al vacio*/

.footer-content h3:nth-child(2){
    grid-column: 3;

}

.footer-column h3{
    font-size: 22px;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;

}

.footer-column h3::after{
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 50px;
    height: 2px;
    

}

.footer-links{
    list-style: none;

}

.footer-links li{
    margin-bottom: 15px;

}

.footer-links a{
    color: var(--colorSecundario);
    text-decoration: none;
    transition: all 0.3s ease;
    
}

.footer-links a:hover{
    color: var(--colorSection2);
    padding-left: 5px;

}

.redes-links{
    display: flex;
    gap: 15px;
    margin-top: 20px;

}

.redes-links a{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 35px;
    height: 35px;
    background: var();
    border-radius: 50%;
    color: var(--colorSecundario);
    font-size: 18px;
    transition: all 0.3s ease;

}

.redes-links a:hover {
    background: var();
    transform: translateY(-3px);

}

.copyright{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid;
    color: var(--colorSecundario);
    font-size: 15px;

}

    /* ¿animacion?*/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }

}